*{
  /*  margin: 0px;
    padding: 0px;
    */
}

body{
    text-align: center;
    background-image: url('bg2.JPG');
  
}
.heading{
    font-size: 20px;
    font-family: arial black;
    color: white;
    
}
.see{
    font-family: arial black;
    font-size: 30px;
    color: white;

}
input{
    width: 200px;
    height: 30px;
    border-radius: 15px;
}
.bee{
    color: white;
    background-color: crimson;
    width: 80px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    
    
}
.cee{
    width: 200px;
    height: 40px;
    border-radius: 15px;
}
   
.a{
    text-decoration: none;
    color: crimson;
}
.login_container{
    margin-top: 60px;
    

} 
.bee:hover{
    background-color: black;
    color: #000000;
}
p{
    color: white;
}
img{
    width: 150px;
    height: 150px;
}


